<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <test name="failTest">
        
        <classes>
            <class name="islahiArt.islahiFailedTest">
                <methods>
                    <include name="test1"/>
                </methods>
            </class>



        </classes>

    </test>
</suite>